// Mixins Here

.flexbox(@direction: row) {
    display: flex;
    flex-direction: @direction;
}

.buttonStyle() {
    display: inline-block;
    text-align: center;
    padding: 0.8rem 2rem;
    background-color: @ebony-clay;
    color: white;
    border-radius: 0.5rem;
    font-size: 1.7rem;
    &:hover {
        background-color: white;
        color: @ebony-clay;
    }
}